@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RFIDlock</h1>
    <img src="~/images/KOCO_logo_bg.jpg" alt="Logo" style="height: 400px; vertical-align: middle;" />
</div>
