
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>KOCOLock Parts</title>
    <style>
        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Lock Type</th>
            <th>Material</th>
            <th>Size</th>
            <th>Voltage</th>
            <th>Color</th>
            <th>Special Feature</th>
            <th>Price (CAD)</th>
        </tr>
        <tr>
            <td>RF9876</td>
            <td>SecureLock One</td>
            <td>Reinforced alumium alloy with ABS plastic casing</td>
            <td>150mm x 75mm x 30mm</td>
            <td>5V DC</td>
            <td>Matte Black, Silver, White</td>
            <td>Web App, and OTP-based remote unlocking and locking</td>
            <td>159.99</td>
        </tr>
        <tr>
            <td>RF5432</td>
            <td>AcessKey RFID Card</td>
            <td>Polycarbonate with waterproof coating</td>
            <td>Standard credit card size</td>
            <td>not supported</td>
            <td>Black, White</td>
            <td>Encrypted RFID to prevent cloning</td>
            <td>19.99 per card</td>
        </tr>
        <tr>
            <td>RF8765</td>
            <td>Guardian RFID Reader</td>
            <td>ABS Plastic with tempered glass surface</td>
            <td>100mm x 50mm x 20mm</td>
            <td>5V DC</td>
            <td>Black with LED indicator ring</td>
            <td>LED and Sound Notifications for successful authentication</td>
            <td>89.99</td>
        </tr>
        
    </table>
</body>
</html>

@*
@{
    ViewData["Title"] = "About Us";
}


<h1>@ViewData["Title"]</h1>

<p>CipherBowl is a company based in Seattle, Washington, specializing in innovative, high-quality bowls for various uses. Their headquarters is a modern, eco-friendly building in the city's tech district. The diverse team includes visionary leaders, talented designers, tech experts, and dedicated customer support.
CipherBowl's product line includes:</p>
*@